<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#">CrowdFunder</a>
			<div class="nav-collapse">
				<ul class="nav">
					<li class="<%= 'active' if @nav == :home %>">
						<%= link_to 'Home', :root %>
					</li>
					<li class="<%= 'active' if @nav == :projects %>">
						<%= link_to 'Projects', :projects %>
					</li>
					<% if logged_in? %>
						<li class="divider-vertical"></li>
							<li class="<%= 'active' if @nav == :my_projects %>">
								<%= link_to 'My Projects', [:my, :projects] %>
						</li>
					<% end %>
				</ul>
				<div class="pull-right">
					<% if current_user %>
						Logged in as <%= current_user.email %>
						<%= link_to 'Logout', logout_path, class: 'btn' %>
					<% else %>
						<%= link_to 'Sign up', new_user_path, class: 'btn btn-primary' %>
						<%= link_to 'Log in', login_path, class: 'btn' %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <nav>
	<div class="navbar">
		<ul>
			<li class="active">
				<a href="#">Home</a>
			</li>
			<li class="active">
				<a href="/projects">Projects</a>
			</li>
		</ul>
	</div>
</nav> -->