<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#">CrowdFunder</a>
			<div class="nav-collapse">
				<ul class="nav">
					<li class="<%= 'active' if current_page? root_path %>">
						<%= link_to 'Home', :root %>
					</li>
					<li class="<%= 'active' if current_page? projects_path or @project %>">
						<%= link_to 'Projects', :projects %>
					</li>
				</ul>
				<div class="pull-right">
					<% if current_user %>
						Logged in as <%= current_user.email %>
						<%= link_to 'Logout', "#", class: 'btn' %>
					<% else %>
						<%= link_to 'Sign up', new_user_path, class: 'btn btn-primary' %>
						<%= link_to 'Log in', login_path, class: 'btn' %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <nav>
	<div class="navbar">
		<ul>
			<li class="active">
				<a href="#">Home</a>
			</li>
			<li class="active">
				<a href="/projects">Projects</a>
			</li>
		</ul>
	</div>
</nav> -->